<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <head>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container container-fluid">
                <a class="navbar-brand" href="#"><i class='bx bxl-nodejs'></i> Universidad Tecnológica de Puebla </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./tablas.html">Tablas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./insercion.html">Insertar</a>
                        </li>
                </div>
            </div>
        </nav>
    </head>
    <div class="py-5" id="hero">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="my-5 text-center">
                    <h1 class="display-5 fw-bolder  mb-2">
                        <i class='bx bxs-virus mb-3'></i> Consulta Covid-19 UTP
                    </h1>
                    <p class="lead fw-normal tex mb-4">
                        Consulta los en enfermos por el Covid-19 en nuestra institución 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row">
          <div class="col-lg-7">
            <h3 class="display-6 fw-bolder mb-2">Cómo protegerse y proteger a los demás</h3>
            <p class="lead fw-normal mb-4 align-content-around py-3">
                Usa cubreboca
                En lugares públicos con poca o nula ventilación.
                
                El cubreboca es seguro para las personas mayores de 2 años.
                
                Es indispensable que sigas con esta medida de prevención que te ayuda a protegerte y proteger a los demás, recuerda que
                aun estando vacunado puedes adquirir y transmitir la enfermedad.
                
                Recuerda siempre usarlo de forma correcta y desecharlo de forma segura.
                
                Sana distancia
                Mantente al menos a 1.5 metros de otras personas, evita aglomeraciones y si es posible quédate en casa durante los
                periodos de alta transmisión.
                
                Recuerda que seguimos en fase de transmisión comunitaria y personas infectadas, con o sin síntomas, pueden transmitir la
                enfermedad, por lo que reducir el contacto con otras personas nos ayuda a disminuir el riesgo de entrar en contacto con
                el virus.
            </p>
          </div>
          <div class="col-lg-5 py-lg-5">
            <img
              src="../img/covid.jpg"
              alt="globe"
              class="rounded align-content-md-center img-fluid"
            />
          </div>
        </div>
    

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="../js/index.js"></script>

</html>